		
		body {
			background-color: #ebebeb;
			
		}


		#header {
			background-color:#ffffff;
			height: 70px;
			border-bottom-style:solid;
			border-bottom-color:#cccccc;
			left:0;
			top:0;
			width:100%;
			position: absolute;
			


		}

		#name {
			background-color:#4aaaa5;
			color: white;
			width:198px;
			height:70px;
			font-family:georgia;
			text-align: center;
			position: absolute;
			left: 100px;
			top: 0px;

			

		}

		

		#about {
			height: 70px;
			width: 50px;
			display: inline-block;
			padding: 20px;
			float: right;

		}

		#portfolio {
			float: right;
			padding: 20px;


		}

		#contact {
			float: right;
			padding: 20px;
			margin-right: 335px;
			color: #777777;

		}

		a {
			color: gray;
			text-decoration: none;
		}


		#body {
			background-color: white;
			width: 650px;
			position: relative;
			bottom: 50px;
			top: 100px;
			left: 95px;
			margin-top: 10px;
			margin-bottom: 10px;
			float: top;
			padding-bottom: 25px;

		}
		
		
		#projects{
			background-color: #ffffff;
			width: 650px;
			margin-left: 100px;
			height: 1000px;

		}



		#section {
			top: 50px;
			left: 20px;
			position: relative;
			color: #4aaaa5;
			width: 523px;
			font-style: georgia;
			margin-left: 30px;
			margin-right: 20px;
			height: 75px;
			border-bottom-color: #cccccc;
			border-bottom-style: solid; 
			line-height: 200%;

		}

		
		#hangman{
			float:left;
			position:relative;
			margin-right: 25px;
			left: 50px;
			top:100px;
			

		}

		#hangman_pic{
			
			width: 250px;

		}

		#hangman1{
			text-align: center;
			color:#777777;
			position:absolute;
			top:120px;
			padding-top: 15px;
			height: 30px;
			width: 250px;
			font-size: 20px;
			background-color: #4aaaa5;

		}
		
		#RPG{
			float:left;
			position:relative;
			left: 50px;
			top:100px;
		}
		
		#rpg_pic{
			width: 250px;
		}

		#RPG1{
			text-align: center;
			color:#777777;
			position:absolute;
			top:120px;
			padding-top: 15px;
			height: 30px;
			width: 250px;
			font-size: 20px;
			background-color: #4aaaa5;
		}

		#trivia{
			position:relative;
			margin-right: 25px;
			margin-top: 55px;
			float: left;
			clear:both;
			left: 50px;
			top:100px;

		}

		#trivia_pic{
			width: 250px;
		}

		#trivia1{
			text-align: center;
			color:#777777;
			position:absolute;
			top:120px;
			padding-top: 15px;
			height: 30px;
			width: 250px;
			font-size: 20px;
			background-color: #4aaaa5;
		}


		#rutgers{
			float:left;
			position:relative;
			margin-top: 55px;
			left: 50px;
			top:100px;
		}

		#rutgers_pic{
			width: 250px;
		}

		#rutgers1{
			text-align: center;
			color:#777777;
			position:absolute;
			top:120px;
			padding-top: 15px;
			height: 30px;
			width: 250px;
			font-size: 20px;
			background-color: #4aaaa5;
		}

		#tv{
			position:relative;
			margin-right: 25px;
			margin-top: 55px;
			float:left;
			clear:both;
			left: 50px;
			top:100px;
		}

		#tv_pic{
			width: 250px;
		}

		#tv1{
			text-align: center;
			color:#777777;
			position:absolute;
			top:120px;
			padding-top: 15px;
			height: 30px;
			width: 250px;
			font-size: 20px;
			background-color: #4aaaa5;
		}



	

		#content {
			margin-top: 15px;
			margin-left: 20px;
			margin-right: 20px;


		}

		#image {
			float: left;
			margin-right: 20px;
			width: 150px;
			height: 200px;
		}

		#text {
			line-height:200%;
			font-family: sans-serif;
			color: #777777;
		}

		#text1 {
			line-height: 200%;
			font-family: sans-serif;
			color: #777777;
		}

		#connect {
			width: 270px;
			height: 185px;
			position: absolute;
			background-color: white;
			color: #4aaaa5;
			font-style: georgia;
			top: 195px;
			left:950px;
			float:left;


		}

		#connect1 {
			border-bottom-style:solid;
			border-bottom-color:#cccccc;
			margin-right: 30px;
			margin-left: 30px;
			height: 20px;
			padding-bottom: 20px;
			font-size: 20px;



		}
		
		#git {
			width: 70px;
			height: 70px;
			position: absolute;
			left: 20px;
		}



		#linked {
			width: 70px;
			height: 70px;
			position: absolute;
			left:100px;

		}


		#stack {
			width: 70px;
			height: 70px;
			position: absolute;
			left:180px;


		}

	#footer {
			background-color: #666666;
			border-top-color: #4aaaa5;
			border-top-style: solid;
			border-top-width: 7px;
			position: fixed;
			left:0;
			bottom: 0;
			width: 100%;
			height: 70px;
			text-align: center;
			vertical-align: middle;
			color: #777777;
			float:left;
			clear:left;
			margin-top: -180px;

		}